@import '../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../node_modules/bootstrap-icons/font/bootstrap-icons.scss';


header {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    height: 50px;


    h1 {
        width: 33.3%;
        
        justify-content: space-between;
        text-align: center;
    }
    
}

.container {
    
    margin: 1% auto;
    display: flex;
    flex-wrap: wrap;
    border: none;
    
}

div {
    justify-content: space-between;
    width: 30%;
    height: 600px;
    border: 1px solid black;
    border-radius: 25px;

}

input {
    width:70%;
    height: 50px;
    margin: 0 3%;
    margin-bottom: 10%;
    border: none;
    -webkit-appearance: none;
    font-size: 2rem;
    
    
}

.clear {
    width: 10%;
    height: 50px;
    background-color: white;
    color: grey;
    font-size: 2rem;
    margin-bottom: 10%;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
    width: 22%;
    height: 70px;
    margin-left: 7.5%;
    margin-bottom: 4%;
    border-radius: 100%;
    background-color: lightgray;
    border: none;
    font-size: 1.7rem;
}

 .end {
    background-color: rgb(229, 99, 99);
    font-size: 1rem;
    i {
        color: white;
    }
}

 .start {
    background-color: rgb(98, 218, 98);
    font-size: 1rem;
    i {
        color: white;
    }
}



.reset, .balance, .topup {
    background-color: white;
    color: grey;
    font-size: 1rem;
    border-radius: 0;
    margin-top: 10%;
}

button span {
    
    font-size: .9rem;
    line-height: 0;
}

i {
    color: grey;
    font-size: 1.5rem;
}

p {
    margin: 3%;
    
    height: 25px;
}


.container {

    :nth-child(1) {
        input {
            background-color:white;
            color: black;
        }

        .clear {
            background-color: white;
            color: grey;
        }
    }
   
    :nth-child(2) {
        background-color: black;
        color: white;

        .clear {
            background-color: black;
            color: white;

            i {
                color: white;
            }
        }

      
        input {
            color:white;
        }

        button {
            color: black;
        }

        .reset, .balance, .topup {
            background-color: black;
            color: white;
            
            i {
                color: white;
            }
        }
    }

    :nth-child(3) {
        background-color: rgb(106, 93, 93);
        color: white;

        .clear {
            background-color: transparent;
            color: white;

            i {
                color: white;
            }
        }

      
        input {
            background-color: transparent;
            color:white;
        }

        button {
            color: black;
        }

        .reset, .balance, .topup {
            background-color: transparent;
            color: white;
            
            i {
                color: white;
            }
        }
    }
}